@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter-Variable.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("../public/fonts/Inter-Variable.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("../public/fonts/Inter-Variable.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 800;
    src: url("../public/fonts/Inter-Variable.ttf") format("truetype");
}

@font-face {
    font-family: "Syne";
    src: url("../public/fonts/Syne-Variable.ttf") format("truetype");
}

@font-face {
    font-family: "Syne";
    font-weight: 800;
    src: url("../public/fonts/Syne-Variable.ttf") format("truetype");
}

body, html {
    @apply m-0 p-0 h-full;
}

.cards h2 {
    @apply my-0;
}
